.list {
  list-style: none;
  padding: 0;
  margin: 32px auto 0;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 10px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-weight: bold;
}

.good {
  background-color: #74bd76;
  color: white;
}

.neutral {
  background-color: #c1bebe;
  color: black;
}

.bad {
  background-color: #e16057;
  color: white;
}

.good,
.neutral,
.bad {
  display: inline-block;
  flex: 1;
  margin: 10px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 5px;
  border: none;
  border-radius: 3px;

  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.good:hover,
.neutral:hover,
.bad:hover {
  opacity: 0.8;
}

.good:active,
.neutral:active,
.bad:active {
  transform: translateY(2px);
}
